.content {
    position: fixed;
    margin-bottom: 100px;
    height: calc(100vh - 8.0rem);
    width: calc(100vw - 270px);
    top: 8.0rem;
    right: 0;
    bottom: 0;
    overflow: auto;
}

.adult_mask {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
    flex: 1;
    color: #fdfdfe;
    padding: 8px;
    background-color: #06b66c;
    font-size: 12px;
}

.children_mask {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    flex: 1;
    color: #fdfdfe;
    padding: 8px;
    background-color: #faa23f;
    font-size: 12px;
}

.card_root {
    width: 300px;
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid rgba(0,0,0,0.3);

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: calc(100% + 10px);
    left: 50%;
    margin-left: -150px;

    display: flex;
    flex-direction: column;
}

.text_root{
    padding: 8px 14px 8px 14px; /* (top, right, bottom, and left) */
}

.marker {
    cursor: pointer;
    position: relative;
    border-radius: 50%;
    border: 6px solid #e9514d;
    width: 10px;
    height: 10px;
    transform: translate(-8px,-30px);
}

/* 三角形生成器 : http://apps.eky.hk/css-triangle-generator/ */
.marker::after {
    content: " ";
    position: absolute;
    top: calc(100% + 1px); /* At the bottom of the tooltip */
    margin-left: -4.5px;
    border-style: solid;
    border-width: 20px 10px 0 9.5px;
    border-color: #e9514d transparent transparent transparent;
}
