.content {
    position: fixed;
    top: 8.0rem;
    bottom: 0;
    left: 0;
    min-height: calc(100vh - 8.0rem);
    max-height: calc(100vh - 8.0rem);
    width: 270px;
    border-right: 1px solid rgba(0,0,0,0.2);
    overflow-y: auto;
}
