.content {
    position: fixed;
    top: 8.0rem;
    bottom: 0;
    left: 0;
    background-color: white;
    min-height: calc(100vh - 8.0rem);
    max-height: calc(100vh - 8.0rem);
    width: 270px;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    overflow-y: auto;
}

@media (max-width: 768px) {
    .content {
        min-height: 100vh;
        max-height: 100vh;
        top: 0;
    }
}

.setting {
    z-index: 20;
    position: fixed;
    bottom: 5px;
    left: 5px;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.setting:hover {
    background-color: #e6e6e8;
}

.setting:active {
    background-color: #bcc1c5;
}

.adult_mask {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
    flex: 1;
    color: #fdfdfe;
    padding: 8px;
    background-color: #06b66c;
    font-size: 12px;
}

.children_mask {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    flex: 1;
    color: #fdfdfe;
    padding: 8px;
    background-color: #faa23f;
    font-size: 12px;
}

.search_root {
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.card_root {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 8px 14px 8px 14px; /* (top, right, bottom, and left) */
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.card_root:hover {
    background-color: #e6e6e8;
}

.card_root:active {
    background-color: #bcc1c5;
}

