.root {

    align-items: center;
    justify-content: end;
    color: white;
}

.link {
    color: #f1273d;
    padding-left: 5px;
}

.link:visited {
    color: #2df12c;
}

.link:active {
    color: #e2d845;
}
